<div>
  <div class="d-flex justify-content-center">
    <div class="col-md-4">
      <h1>Reset hasła</h1>

      <div class="alert alert-danger" *ngIf="initialized && !key">Brakuje klucza resetującego hasło.</div>

      <div class="alert alert-warning" *ngIf="key && !success">
        <span>Wybierz nowe hasło</span>
      </div>

      <div class="alert alert-danger" *ngIf="error">
        <span>Twoje hasło nie mogło zostać zresetowane. Pamiętaj, że prośba o zresetowanie hasła jest ważna tylko przez 24 godziny.</span>
      </div>

      <div class="alert alert-success" *ngIf="success">
        <span><strong>Twoje hasło zostało zresetowane.</strong> Proszę </span>
        <a class="alert-link" routerLink="/login">zalogować</a>.
      </div>

      <div class="alert alert-danger" *ngIf="doNotMatch">Hasło i potwierdzenie nie zgadzają się!</div>

      <div *ngIf="key && !success">
        <form name="form" role="form" (ngSubmit)="finishReset()" [formGroup]="passwordForm">
          <div class="mb-3">
            <label class="form-label" for="newPassword">Nowe hasło</label>
            <input
              type="password"
              class="form-control"
              id="newPassword"
              name="newPassword"
              placeholder="Nowe hasło"
              formControlName="newPassword"
              data-cy="resetPassword"
              #newPassword
            />

            <div
              *ngIf="
                passwordForm.get('newPassword')!.invalid &&
                (passwordForm.get('newPassword')!.dirty || passwordForm.get('newPassword')!.touched)
              "
            >
              <small class="form-text text-danger" *ngIf="passwordForm.get('newPassword')?.errors?.required">
                Twoje hasło jest wymagane.
              </small>

              <small class="form-text text-danger" *ngIf="passwordForm.get('newPassword')?.errors?.minlength">
                Twoje hasło powinno mieć minimum 4 znaki
              </small>

              <small class="form-text text-danger" *ngIf="passwordForm.get('newPassword')?.errors?.maxlength">
                Twoje hasło nie może być dłuższe niż 50 znaków
              </small>
            </div>

            <jhi-password-strength-bar [passwordToCheck]="passwordForm.get('newPassword')!.value"></jhi-password-strength-bar>
          </div>

          <div class="mb-3">
            <label class="form-label" for="confirmPassword">Potwierdź nowe hasło</label>
            <input
              type="password"
              class="form-control"
              id="confirmPassword"
              name="confirmPassword"
              placeholder="Potwierdź nowe hasło"
              formControlName="confirmPassword"
              data-cy="confirmResetPassword"
            />

            <div
              *ngIf="
                passwordForm.get('confirmPassword')!.invalid &&
                (passwordForm.get('confirmPassword')!.dirty || passwordForm.get('confirmPassword')!.touched)
              "
            >
              <small class="form-text text-danger" *ngIf="passwordForm.get('confirmPassword')?.errors?.required">
                Potwierdzenie hasła jest wymagane.
              </small>

              <small class="form-text text-danger" *ngIf="passwordForm.get('confirmPassword')?.errors?.minlength">
                Potwierdzenie hasła powinno mieć minimum 4 znaki
              </small>

              <small class="form-text text-danger" *ngIf="passwordForm.get('confirmPassword')?.errors?.maxlength">
                Potwierdzenie hasła nie powinno być dłuższe niż 50 znaków
              </small>
            </div>
          </div>

          <button type="submit" [disabled]="passwordForm.invalid" class="btn btn-primary" data-cy="submit">Sprawdź nowe hasło</button>
        </form>
      </div>
    </div>
  </div>
</div>
