<div>
  <div class="d-flex justify-content-center">
    <div class="col-md-8">
      <h1 data-cy="registerTitle">Rejestracja</h1>

      <div class="alert alert-success" *ngIf="success">
        <strong>Rejestracja udała się!</strong> Wysłaliśmy do Ciebie email z linkiem do weryfikacji konta i prosimy abyś sprawdził swoją
        skrzynkę pocztową.
      </div>

      <div class="alert alert-danger" *ngIf="error"><strong>Rejestracja nieudana!</strong> Prosimy spróbować później.</div>

      <div class="alert alert-danger" *ngIf="errorUserExists">
        <strong>Użytkownik z taką nazwą już istnieje!</strong> Prosimy wybrać inną nazwę.
      </div>

      <div class="alert alert-danger" *ngIf="errorEmailExists">
        <strong>Ten adres email jest już zarejestrowany!</strong> Prosimy wybrać inny adres.
      </div>

      <div class="alert alert-danger" *ngIf="doNotMatch">Hasło i potwierdzenie nie zgadzają się!</div>
    </div>
  </div>

  <div class="d-flex justify-content-center">
    <div class="col-md-8">
      <form name="form" role="form" (ngSubmit)="register()" [formGroup]="registerForm" *ngIf="!success">
        <div class="mb-3">
          <label class="form-label" for="login">Nazwa użytkownika</label>
          <input
            type="text"
            class="form-control"
            id="login"
            name="login"
            placeholder="Twój login"
            formControlName="login"
            data-cy="username"
            #login
          />

          <div *ngIf="registerForm.get('login')!.invalid && (registerForm.get('login')!.dirty || registerForm.get('login')!.touched)">
            <small class="form-text text-danger" *ngIf="registerForm.get('login')?.errors?.required"> Twój login jest wymagany. </small>

            <small class="form-text text-danger" *ngIf="registerForm.get('login')?.errors?.minlength">
              Twój login musi mieć długość co najmniej 1 znaku
            </small>

            <small class="form-text text-danger" *ngIf="registerForm.get('login')?.errors?.maxlength">
              Twój login nie może być dłuższy niż 50 znaków
            </small>

            <small class="form-text text-danger" *ngIf="registerForm.get('login')?.errors?.pattern"> Your username is invalid. </small>
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="email">Email</label>
          <input
            type="email"
            class="form-control"
            id="email"
            name="email"
            placeholder="Twój email"
            formControlName="email"
            data-cy="email"
          />

          <div *ngIf="registerForm.get('email')!.invalid && (registerForm.get('email')!.dirty || registerForm.get('email')!.touched)">
            <small class="form-text text-danger" *ngIf="registerForm.get('email')?.errors?.required"> Twój email jest wymagany. </small>

            <small class="form-text text-danger" *ngIf="registerForm.get('email')?.errors?.invalid"> Twój email jest błędny. </small>

            <small class="form-text text-danger" *ngIf="registerForm.get('email')?.errors?.minlength">
              Twój email musi mieć przynajmniej 5 znaków
            </small>

            <small class="form-text text-danger" *ngIf="registerForm.get('email')?.errors?.maxlength">
              Twój email nie może być dłuższy niż 50 znaków
            </small>
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="password">Nowe hasło</label>
          <input
            type="password"
            class="form-control"
            id="password"
            name="password"
            placeholder="Nowe hasło"
            formControlName="password"
            data-cy="firstPassword"
          />

          <div
            *ngIf="registerForm.get('password')!.invalid && (registerForm.get('password')!.dirty || registerForm.get('password')!.touched)"
          >
            <small class="form-text text-danger" *ngIf="registerForm.get('password')?.errors?.required"> Twoje hasło jest wymagane. </small>

            <small class="form-text text-danger" *ngIf="registerForm.get('password')?.errors?.minlength">
              Twoje hasło powinno mieć minimum 4 znaki
            </small>

            <small class="form-text text-danger" *ngIf="registerForm.get('password')?.errors?.maxlength">
              Twoje hasło nie może być dłuższe niż 50 znaków
            </small>
          </div>

          <jhi-password-strength-bar [passwordToCheck]="registerForm.get('password')!.value"></jhi-password-strength-bar>
        </div>

        <div class="mb-3">
          <label class="form-label" for="confirmPassword">Potwierdź nowe hasło</label>
          <input
            type="password"
            class="form-control"
            id="confirmPassword"
            name="confirmPassword"
            placeholder="Potwierdź nowe hasło"
            formControlName="confirmPassword"
            data-cy="secondPassword"
          />

          <div
            *ngIf="
              registerForm.get('confirmPassword')!.invalid &&
              (registerForm.get('confirmPassword')!.dirty || registerForm.get('confirmPassword')!.touched)
            "
          >
            <small class="form-text text-danger" *ngIf="registerForm.get('confirmPassword')?.errors?.required">
              Potwierdzenie hasła jest wymagane.
            </small>

            <small class="form-text text-danger" *ngIf="registerForm.get('confirmPassword')?.errors?.minlength">
              Potwierdzenie hasła powinno mieć minimum 4 znaki
            </small>

            <small class="form-text text-danger" *ngIf="registerForm.get('confirmPassword')?.errors?.maxlength">
              Potwierdzenie hasła nie powinno być dłuższe niż 50 znaków
            </small>
          </div>
        </div>

        <button type="submit" [disabled]="registerForm.invalid" class="btn btn-primary" data-cy="submit">Zarejestruj</button>
      </form>

      <div class="mt-3 alert alert-warning">
        <span>Jeśli chcesz się </span>
        <a class="alert-link" routerLink="/login">zalogować</a
        ><span
          >, możesz spróbować któregoś z domyślnych kont:<br />- Administrator (login="admin" i hasło="admin") <br />- Użytkownik
          (login="user" i hasło="user").</span
        >
      </div>
    </div>
  </div>
</div>
