<form *ngIf="financialTransaction" name="deleteForm" (ngSubmit)="confirmDelete(financialTransaction.id!)">
  <div class="modal-header">
    <h4 class="modal-title" data-cy="financialTransactionDeleteDialogHeading">Potwierdź usunięcie</h4>

    <button type="button" class="btn-close" data-dismiss="modal" aria-hidden="true" (click)="cancel()">&times;</button>
  </div>

  <div class="modal-body">
    <jhi-alert-error></jhi-alert-error>
    <p id="jhi-delete-financialTransaction-heading">Czy na pewno chcesz usunąć Financial Transaction {{ financialTransaction.id }}?</p>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancel()">
      <fa-icon icon="ban"></fa-icon>&nbsp;<span>Anuluj</span>
    </button>

    <button id="jhi-confirm-delete-financialTransaction" data-cy="entityConfirmDeleteButton" type="submit" class="btn btn-danger">
      <fa-icon icon="times"></fa-icon>&nbsp;<span>Usuń</span>
    </button>
  </div>
</form>
